<h1><%=@products.product_name%></h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>

      <tr>
        <td><%= @products.product_name %></td>
      </tr>

  </tbody>
</table>
</html>
